.btn__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 40px;
}

.btn__icon::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: var(--color-neutral-0);
}

.btn__icon::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: var(--color-neutral-0);
}
