.btn__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.btn__input:checked + .btn__label::before {
  opacity: 1;
}

.btn__input:checked + .btn__label .btn__label-wrapper {
  padding: 12.46px 15.17px;
  border-radius: var(--radius-btn);
}

.btn__input:checked + .btn__label .btn__label-wrapper .btn__icon::before {
  transform: rotate(90deg);
}

.btn__input:checked + .btn__label .btn__label-wrapper .btn__text {
  display: inline-block;
}

.btn__input:focus-visible + .btn__label {
  outline: 0.5px solid var(--color-neutral-0);
}

.btn__input:checked:focus-visible + .btn__label {
  outline: 0.5px solid var(--color-neutral-0);
}
