.btn__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.btn__input:checked + .btn__label .btn__label-wrapper {
  padding: 12.46px 15px;
}

.btn__input:checked + .btn__label .btn__label-wrapper .btn__icon::before {
  transform: rotate(90deg);
}

.btn__input:checked + .btn__label .btn__label-wrapper .btn__text {
  display: inline-block;
}
