.btn_place_pier {
  top: 66.11%;
  left: 23.23%;
}

/* @media screen and (max-width: 1919px) {
  .btn_place_pier {
    left: calc(10.23% + (315.078 + 315.078 * 1.35) * (100vw - 1280px) / 1919);
  }
} */
