.btn_place_factory {
  top: 26.11%;
  left: 30.2%;
}

/*
@media screen and (max-width: 1919px) {
  .btn_place_factory {
    left: calc(10.23% + (315.078 + 315.078 * 1.35) * (100vw - 1280px) / 1919);
  }
} */
